.branch-page {
  height: calc(100vh - #{$gnb-height-sm});
  overflow: hidden;

  .branch {
    width: 100%;

    &-map {
      position: relative;

      .map {
        width: 85%;
        height: auto;
      }
    }

    &-count {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      button {
        position: absolute;
        @include text-style(13, $white);
        font-weight: 700;
        background-color: $red;
        border-radius: 50%;
        opacity: 0.8;

        &:active {
          background-color: $red-dark;
          opacity: 1;
        }
      }

      .up-to-4 {
        width: 24px;
        height: 24px;
      }

      .up-to-9 {
        width: 32px;
        height: 32px;
      }

      .up-to-20 {
        width: 40px;
        height: 40px;
      }

      .gyeonggi {
        top: 22%;
        left: 42%;
      }

      .gangwon {
        top: 18%;
        right: 30%;
      }

      .daejeon {
        top: 35%;
        left: 40%;
      }

      .jeollanam {
        bottom: 28%;
        left: 35%;
      }

      .gyeongsangnam {
        bottom: 32%;
        right: 30%;
      }
    }
  }

  @include responsive(T) {
    height: calc(100vh - #{$gnb-height-md});

    .branch {
      &-count {
        button {
          @include text-style(16);
        }

        .up-to-4 {
          width: 40px;
          height: 40px;
        }

        .up-to-9 {
          width: 48px;
          height: 48px;
        }

        .up-to-20 {
          width: 56px;
          height: 56px;
        }

        .gyeonggi {
          top: 22%;
          left: 42%;
        }

        .gangwon {
          top: 15%;
          right: 32%;
        }

        .daejeon {
          top: 38%;
          left: 42%;
        }

        .jeollanam {
          bottom: 30%;
          left: 38%;
        }

        .gyeongsangnam {
          bottom: 35%;
          right: 32%;
        }
      }
    }
  }

  @include responsive(D) {
    .branch {
      &-map {
        position: static;
        @include flexbox;
        height: 496px;

        .map {
          width: auto;
          height: 100%;

          .place {
            transition: fill 200ms ease-in-out;
          }

          .place:hover,
          .place.is-active {
            fill: $red;
          }

          .place:active {
            fill: $red-dark;
          }
        }
      }
    }
  }
}
