.chemical {
  $nav-height-sm: 48px;
  $button-width-sm: 136px;
  $button-height-sm: 40px;
  $nav-height-lg: 80px;
  $button-width-lg: 312px;
  $button-height-lg: 64px;

  &-nav {
    position: relative;
    @include flexbox;
    width: 280px;
    height: $nav-height-sm;
    margin: 0 auto 24px;
    border: 1px solid $border;
    border-radius: #{$nav-height-sm / 2};

    &::before {
      position: absolute;
      left: 4px;
      content: '';
      width: $button-width-sm;
      height: $button-height-sm;
      border-radius: #{$nav-height-sm / 2};
      background-color: $red;
      z-index: -10;
      transition: left 200ms ease-in-out;
    }

    &.is-detail {
      &::before {
        left: #{$button-width-sm + 2px};
      }

      button {
        color: $dark;

        &.detail {
          color: $white;
        }
      }
    }

    button {
      width: $button-width-sm;
      height: $button-height-sm;
      border-radius: #{$nav-height-sm / 2};
      @include text-style(16, $white);
      font-weight: 700;
      transition: color 200ms ease-in-out;

      &.detail {
        color: $dark;
      }
    }
  }

  &-list {
    display: none;
    visibility: hidden;

    &.is-active {
      display: block;
      visibility: visible;
    }
  }

  &-item {
    @include flexbox(start);
    padding: 8px 8px;
    border-bottom: 1px solid $border;

    &:last-child {
      border-bottom: 0;
    }

    .chemical-image {
      @include flexbox;
      width: 96px;
      height: 96px;
      margin-right: 16px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .chemical-title {
      @include flexbox(start, start);
      flex-direction: column;
      width: 100%;

      strong {
        @include text-style(14, $primary);
        font-weight: 500;
      }

      h2 {
        @include text-style(14, $dark);
      }

      &:active {
        strong {
          color: $secondary;
        }

        h2 {
          color: $primary;
        }
      }
    }
  }

  @include responsive(T) {
    &-nav {
      margin-bottom: 48px;
    }

    &-list {
      flex-wrap: wrap;

      &.is-active {
        @include flexbox(between);
      }
    }

    &-item {
      flex-direction: column;
      width: 25%;
      margin-bottom: 16px;
      border-bottom: 0;
      flex-basis: 25%;
      flex-grow: 1;

      .chemical-image {
        width: 128px;
        height: 128px;
        margin-right: 0;
        margin-bottom: 24px;
      }

      .chemical-title {
        @include flexbox(start);

        strong,
        h2 {
          @include text-style(16);
          text-align: center;
        }
      }
    }
  }

  @include responsive(D) {
    &-nav {
      width: 640px;
      height: $nav-height-lg;
      margin-bottom: 80px;
      border-radius: #{$nav-height-lg / 2};

      &::before {
        left: 8px;
        width: $button-width-lg;
        height: $button-height-lg;
        border-radius: #{$nav-height-lg / 2};
      }

      &.is-detail {
        &::before {
          left: #{$button-width-lg + 4px};
        }
      }

      button {
        width: $button-width-lg;
        height: $button-height-lg;
        @include text-style(24);
        border-radius: #{$nav-height-lg / 2};
      }
    }

    &-item {
      cursor: pointer;

      .chemical-image {
        width: 192px;
        height: 192px;
        margin-right: 0;
        margin-bottom: 40px;
      }

      .chemical-title {
        strong,
        h2 {
          @include text-style(18);
        }
      }
    }
  }
}
