.gnb-nav {
  height: 100%;
  margin-right: 120px;

  &-list {
    @include flexbox(start);
    height: 100%;
  }

  &-item {
    @include flexbox;
    width: 132px;
    height: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 200ms ease-in-out;

    a {
      @include flexbox;
      width: 100%;
      height: 100%;
      @include text-style(18, $primary);
      font-weight: 700;
      transition: color 200ms ease-in-out;
    }

    &:hover,
    &.is-open {
      border-color: $red;

      a {
        color: $red;
      }
    }

    &.is-active {
      border-bottom: 2px solid $red;

      a {
        color: $red;
      }
    }
  }
}
