.home {
  max-height: calc(100vh - #{$gnb-height-sm});
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &-pages {
    position: relative;
    scroll-snap-align: start;

    &-header {
      margin-top: 48px;

      h2 {
        margin-bottom: 4px;
        @include text-style(24, $white);
      }

      span {
        @include text-style(12, $white);
      }
    }

    &-header-02 {
      @include flexbox;
      flex-direction: column;
      padding: #{$header-padding-sm} 0;

      h1 {
        @include text-style(24, $primary);
      }

      p {
        @include text-style(13, $primary);
      }
    }
  }
  @include responsive(T) {
    max-height: calc(100vh - #{$gnb-height-md});

    &-pages {
      &-header {
        margin-top: 80px;

        h2 {
          margin-bottom: 8px;
          @include text-style(36);
        }

        span {
          @include text-style(16);
        }
      }

      &-header-02 {
        padding: #{$header-padding-md} 0;

        h1 {
          @include text-style(36);
        }

        p {
          @include text-style(14);
        }
      }
    }
  }

  @include responsive(D) {
    &-pages {
      &-header {
        margin-top: 120px;

        h2 {
          margin-bottom: 8px;
          @include text-style(48);
        }

        span {
          @include text-style(24);
        }
      }

      &-header-02 {
        padding: #{$header-padding-lg} 0;

        h1 {
          @include text-style(48);
        }

        p {
          @include text-style(16);
        }
      }
    }
  }
}
