.info-page {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$gnb-height-sm});
  background-image: url('./assets/images/img-cover-04.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .info {
    &-content {
      @include pos-center-x;
      bottom: 96px;
      width: 240px;
      height: 230px;
    }

    &-item {
      position: absolute;
      @include flexbox;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $dark;
      opacity: 0.7;
      transition: width 200ms ease-in-out, height 200ms ease-in-out,
        background-color 200ms ease-in-out, opacity 200ms ease-in-out;

      button {
        @include text-style(10, $white);
      }

      &.is-active,
      &:hover {
        width: 64px;
        height: 64px;
        background-color: $red;
        opacity: 1;

        button {
          @include text-style(13);
        }
      }

      &:nth-child(1) {
        @include pos-center-x;
        top: 0;

        &.is-active {
          top: -8px;
        }
      }

      &:nth-child(2) {
        top: 28%;
        left: 5px;

        &.is-active {
          left: -3px;
        }
      }

      &:nth-child(3) {
        bottom: 8px;
        left: 18%;

        &.is-active {
          bottom: 0;
          left: 15%;
        }
      }

      &:nth-child(4) {
        bottom: 8px;
        right: 18%;

        &.is-active {
          bottom: 0;
          right: 15%;
        }
      }

      &:nth-child(5) {
        top: 28%;
        right: 5px;

        &.is-active {
          right: -3px;
        }
      }
    }
  }

  .view-button {
    @include pos-center;
    @include flexbox;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0.6;

    a {
      @include flexbox;
      width: 100%;
      height: 100%;
      font-family: $font-eng;
      @include text-style(12, $dark);
      text-align: center;
      border-radius: 50%;
    }

    &::after {
      @include pos-center;
      content: '';
      width: 192px;
      height: 192px;
      border: 1px solid $white;
      border-radius: 50%;
      opacity: 0.8;
      pointer-events: none;
    }
  }

  @include responsive(T) {
    height: calc(100vh - #{$gnb-height-md});

    .info {
      &-content {
        bottom: 240px;
        width: 360px;
        height: 345px;
      }

      &-item {
        width: 72px;
        height: 72px;

        button {
          @include text-style(14);
          white-space: nowrap;
        }

        &.is-active,
        &:hover {
          width: 96px;
          height: 96px;

          button {
            @include text-style(18);
            font-weight: 500;
          }
        }
      }
    }

    .view-button {
      width: 112px;
      height: 112px;

      a {
        @include text-style(18);
      }

      &::after {
        width: 288px;
        height: 288px;
      }
    }
  }

  @include responsive(D) {
    .info {
      &-content {
        @include pos-center-y;
        right: 160px;
        width: 534px;
        height: 512px;
      }

      &-item {
        width: 120px;
        height: 120px;

        button {
          @include text-style(18);
        }

        &.is-active,
        &:hover {
          width: 144px;
          height: 144px;

          button {
            @include text-style(24);
            font-weight: 700;
          }
        }
      }
    }

    .view-button {
      width: 160px;
      height: 160px;
      transition: opacity 200ms ease-in-out;

      a {
        @include text-style(24);
      }

      &::after {
        width: 416px;
        height: 416px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
