.product-modal {
  $modal-height-sm: 400px;
  $modal-height-md: 528px;
  $modal-height-lg: 448px;
  $title-height-sm: 52px;
  $title-height-md: 64px;
  $title-height-lg: 80px;

  @include pos-center(fixed);
  z-index: $product-modal-level;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-50%, 0, 0);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out,
    transform 300ms ease-in-out;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, -50%, 0);
  }

  &-item {
    display: none;
    width: 290px;
    height: $modal-height-sm;
    background-color: $white;

    &.is-active {
      display: block;
    }
  }

  &-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $title-height-sm;
    border-bottom: 1px solid $border;
    background-color: $white;

    h1 {
      @include pos-center;
      @include text-style(18, $dark);
    }

    .close-button {
      @include pos-center-y;
      right: 16px;

      i {
        color: $tertiary;
        font-size: 24px;
      }

      &:active {
        i {
          color: $secondary;
        }
      }
    }
  }

  &-content {
    height: #{$modal-height-sm - $title-height-sm};
    margin-top: $title-height-sm;
    padding: 0 24px 24px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-image {
    @include flexbox;
    width: 160px;
    height: 160px;
    margin: 16px auto;

    img {
      display: block;
      width: 120px;
      height: auto;
    }
  }

  &-wrapper {
    h2 {
      @include text-style(16, $primary);
      margin-bottom: 16px;
    }

    p {
      @include text-style(13, $secondary);
    }
  }

  @include responsive(T) {
    width: 452px;
    height: $modal-height-md;

    &-item {
      width: 100%;
    }

    &-title {
      height: $title-height-md;

      h1 {
        @include text-style(24);
      }

      .close-button {
        right: 24px;

        i {
          font-size: 32px;
        }
      }
    }

    &-content {
      width: 100%;
      height: #{$modal-height-md - $title-height-md};
      margin-top: $title-height-md;
      padding: 0 36px 36px;
    }

    &-image {
      width: 196px;
      height: 196px;
      margin: 24px auto;

      img {
        width: 160px;
      }
    }

    &-wrapper {
      h2 {
        @include text-style(18);
        margin-bottom: 16px;
      }

      p {
        @include text-style(14);
      }
    }
  }

  @include responsive(D) {
    width: 1000px;
    height: $modal-height-lg;

    &-item {
      width: 100%;
    }

    &-title {
      height: $title-height-lg;

      .close-button {
        right: 32px;

        i {
          font-size: 36px;
        }
      }
    }

    &-content {
      @include flexbox(start);
      height: #{$modal-height-lg - $title-height-lg};
      margin-top: $title-height-lg;
      padding: 0 48px 48px;
    }

    &-image {
      width: 280px;
      height: 280px;
      margin: 0 24px 0 0;

      img {
        width: 200px;
      }
    }

    &-wrapper {
      h2 {
        @include text-style(24);
        margin-bottom: 8px;
      }

      p {
        @include text-style(16);
      }
    }
  }
}
