.youtube-page {
  height: calc(100vh - #{$gnb-height-sm});

  .youtube-wrapper {
    @include flexbox;
    flex-direction: column;
    height: calc(
      100vh - #{$gnb-height-sm + $header-padding-sm * 2 + $header-height-sm}
    );
  }

  .video-wrapper {
    @include flexbox;
    flex-direction: column;
    margin-bottom: 24px;

    iframe:first-child {
      margin-bottom: 8px;
    }
  }

  .view-button {
    width: 136px;
    height: 32px;
    margin-bottom: 15%;
    border: 1px solid $dark;

    a {
      @include text-style(14, $dark);
      font-weight: 500;
    }
  }

  @include responsive(T) {
    height: calc(100vh - #{$gnb-height-md});

    .youtube-wrapper {
      height: calc(
        100vh - #{$gnb-height-md + $header-padding-md * 2 + $header-height-md}
      );
    }

    .video-wrapper {
      margin-bottom: 48px;
    }

    iframe {
      width: 560px;
      height: 315px;
    }

    .view-button {
      width: 152px;
      height: 40px;
      background-color: transparent;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: rgba(63, 65, 80, 0.1);
      }

      a {
        @include text-style(16);
      }
    }
  }

  @include responsive(D) {
    .video-wrapper {
      flex-direction: row;
      margin-bottom: 64px;

      iframe:first-child {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}
