.global-header {
  position: relative;
  width: 100%;
  height: $gnb-height-sm;

  .gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $gnb-level;
  }

  @include responsive(T) {
    height: $gnb-height-md;
  }
}
