.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 32px 20px;
  width: 240px;
  height: 100vh;
  overflow-y: auto;
  background-color: $white;
  overscroll-behavior: contain;

  .logo {
    margin-bottom: 20px;

    a {
      display: block;
    }

    img {
      display: block;
      @include flexbox;
      width: auto;
      height: 24px;
    }
  }

  &-nav {
    border-bottom: 1px solid $border;
  }
}
